.main {
    display: flex;
    justify-content: center;
}

.hello {
    width: 100%;

    padding: 0.7rem;
    margin-bottom: 1.2rem;

    text-align: center;
    background: var(--hello-color);
    backdrop-filter: blur(6px);
    border-radius: 0.5rem;

    position: relative;
    top: -2.5rem;
}

article {
    padding: 0 2rem;

    position: relative;
    top: -2.5rem;
}

section {
    margin-bottom: 2rem;
}

.article-button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.article-button>a {
    background-color: var(--cyan-color);
    color: var(--bg-color);
    font-weight: 600;

    padding: 0.55rem 1rem;

    border-radius: 0.38rem;
}

.article-button>a:hover,
.article-button>a:active {
    text-decoration: none;
}

.article-button>a:hover {
    background-color: var(--cyan-darker-color);
    transition: 200ms;
}

.article-button>a:active {
    background-color: var(--cyan-darker-color);
    transition: 200ms;
}

.article-button>a:not(:hover) {
    transition: 200ms;
}

.article-button>a>span {
    margin-left: 0.7rem;
}

/* WHO */
section.who>.me-image {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

section.who>.me-image>img {
    width: 6.3rem;
    border-radius: 6rem;
    border: 2px solid rgba(255, 255, 255, 0.8);
}

/* WORK */
section.work>p {
    text-align: justify;
    text-indent: 1rem;
}

/* HOBBY */
section.hobby>p {
    text-align: justify;
    text-indent: 1rem;
}

/* I LIKE */
section.like>p {
    text-align: justify;
    text-indent: 1rem;
}

/* SKILLS */
section.skills p {
    margin-left: 2.85rem;
    text-indent: -2.85rem;
}

section.skills span {
    font-weight: bold;
    margin-right: 1.5rem;
}

/* ON THE WEB */
section.on-the-web ul {
    list-style-type: none;
}

section.on-the-web a {
    display: inline-flex;
    align-items: center;
    color: var(--cyan-darker-color);
    font-weight: 600;

    padding: 0.55rem 1rem;

    border-radius: 0.38rem;
}

section.on-the-web a:hover {
    text-decoration: none;
    background-color: var(--weblink-hover-color);
    transition: background-color 200ms;
}

section.on-the-web a:not(:hover) {
    transition: background-color 200ms;
}

section.on-the-web svg {
    width: 16px;
    height: 16px;
    fill: var(--cyan-darker-color);
    margin-right: 0.5rem;
}



@media screen and (min-width: 765px) {
    section.who {
        display: flex;
        justify-content: space-between;
    }

    section.who h2 {
        font-size: 2.2rem;
        line-height: 2.9rem;
    }

    section.who img {
        position: relative;
        top: -0.8rem;
    }
}