.nav-bar {
    background-color: red;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.wrap {
    width: 100vw;
    display: flex;
    justify-content: space-between;

    padding: 0.5rem;
}

.nav-bar-left {
    display: flex;
    align-items: center;
}

.nav-bar-left h1 {
    display: flex;
    font-size: 1.1rem;
    margin-left: 0.5rem;
}

.nav-bar-left svg {
    width: 1.3rem;
    height: 1.3rem;
    position: relative;
    top: 0.2rem;
    fill: white;
    margin-right: 0.1rem;
}

.nav-bar-center {
    display: none;
}

.nav-bar-right {
    display: flex;
    justify-content: flex-end;
}

.nav-bar-right>button {
    width: 2.5rem;
    height: 2.5rem;

    margin-left: 0.5rem;

    border: 0;
    border-radius: 0.38rem;
    cursor: pointer;
}

.light {
    background-color: #fbd38b;
}

.light:hover,
.light:active {
    background-color: #f6ad55;
    transition: 200ms;
}

.light:not(:hover) {
    background-color: #fbd38b;
    transition: 200ms;
}

.light svg {
    scale: 0.5;
    stroke: var(--dark-mode-bg-color);
    /* fill: var(--dark-mode-bg-color); */
}

.dark {
    background-color: #805ad5;
}

.dark svg {
    scale: 0.4;
    stroke: none;
    fill: white;
}