.nav-bar {
    background-color: var(--nav-color);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.wrap {
    width: 100vw;
    max-width: 765px;
    display: flex;
    justify-content: space-between;

    padding: 0.5rem;
}

.nav-bar-left {
    display: flex;
    align-items: center;
}

.nav-bar-left h1 {
    display: flex;
    font-size: 1.05rem;
    cursor: pointer;

    margin-left: 0.7rem;
}

.nav-bar-left svg {
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
    top: 0.2rem;
    fill: var(--font-color);
    margin-right: 0.1rem;
}

.nav-bar-center {
    display: none;
}

.nav-bar-center ul {
    display: flex;
    list-style-type: none;
}

.nav-bar-center li {
    margin: 0 0.7rem;
}

.nav-bar-center a {
    color: var(--font-color);
}

.nav-bar-center svg {
    width: 14px;
    height: 14px;
    margin-right: 4px;
    position: relative;
    top: 0.5px;
    fill: var(--font-color);
}

.nav-bar-right {
    display: flex;
    justify-content: flex-end;
}

.nav-bar-right>button {
    width: 2.5rem;
    height: 2.5rem;

    margin-left: 0.5rem;

    border-radius: 0.38rem;
    cursor: pointer;
}

.light {
    border: 0;
    background-color: #fbd38b;
}

.light:hover,
.light:active {
    background-color: #f6ad55;
    transition: 200ms;
}

.light:not(:hover) {
    transition: 200ms;
}

.light svg {
    transform: scale(0.5);
    stroke: var(--bg-color);
}

.dark {
    border: 0;
    background-color: #805ad5;
}

.dark:hover,
.dark:active {
    background-color: #6b46c1;
    transition: 200ms;
}

.dark:not(:hover) {
    transition: 200ms;
}

.dark svg {
    transform: scale(0.4);
    stroke: none;
    fill: var(--bg-color);
}

.menu {
    background-color: inherit;
    border: 1px solid var(--menu-border-color);
}

.menu:hover,
.menu:active {
    background-color: var(--menu-hover-color);
    transition: 200ms;
}

.menu:not(:hover) {
    transition: 200ms;
}

.menu svg {
    transform: scale(0.4);
    fill: var(--font-color);
    stroke: var(--font-color);
}

.hidden-menu {
    width: 11.5rem;
    padding: 0.5rem 0;

    position: absolute;
    top: 3.5rem;
    right: 0.5rem;

    background-color: #2d3748;
    border: 1px solid var(--menu-border-color);
    border-radius: 0.38rem;
}

.hidden-menu ul {
    list-style-type: none;
}

.hidden-menu a {
    display: block;
    color: var(--font-color);
    padding: 0.5rem 0.8rem;
}

.hidden-menu a:hover,
.hidden-menu a:active {
    background-color: rgba(255, 255, 255, 0.05);
}



@media screen and (min-width: 765px) {
    .nav-bar-left {
        flex: 2;
    }

    .nav-bar-center {
        flex: 3;
        display: flex;
        align-items: center;
    }

    .nav-bar-right {
        flex: 2;
    }

    .menu {
        display: none;
    }

    .hidden-menu {
        display: none;
    }
}