@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=M+PLUS+Rounded+1c:wght@500&family=Open+Sans&display=swap');

:root {
    --bg-color: var(--dark-mode-bg-color);
    --font-color: var(--dark-mode-font-color);
    --nav-color: var(--dark-mode-nav-color);
    --menu-border-color: var(--dark-mode-menu-border-color);
    --menu-hover-color: var(--dark-mode-menu-hover-color);
    --link-color: var(--dark-mode-link-color);
    --weblink-hover-color: var(--dark-mode-weblink-hover-color);
    --hello-color: var(--dark-mode-hello-color);
    --cyan-color: var(--dark-mode-cyan-color);
    --cyan-darker-color: var(--dark-mode-cyan-darker-color);

    --dark-mode-bg-color: #202023;
    --dark-mode-font-color: #eeeeee;
    --dark-mode-nav-color: #20202380;
    --dark-mode-menu-border-color: rgba(255, 255, 255, 0.2);
    --dark-mode-menu-hover-color: rgba(255, 255, 255, 0.09);
    --dark-mode-link-color: #ff63c3;
    --dark-mode-weblink-hover-color: rgba(129, 230, 217, 0.12);
    --dark-mode-hello-color: rgba(255, 255, 255, 0.09);
    --dark-mode-cyan-color: #81e6d9;
    --dark-mode-cyan-darker-color: #4fd1c5;

    --light-mode-bg-color: #f0e7db;
    --light-mode-font-color: #1a202c;
    --light-mode-nav-color: rgba(255, 255, 255, 0.25);
    --light-mode-menu-border-color: #e2e8f0;
    --light-mode-menu-hover-color: #edf2f7;
    --light-mode-link-color: rgb(61, 122, 237);
    --light-mode-weblink-hover-color: #e6fffa;
    --light-mode-hello-color: rgba(255, 255, 255, 0.25);
    --light-mode-cyan-color: #319795;
    --light-mode-cyan-darker-color: #2c7a7b;

    --heading-font: 'M PLUS Rounded 1c';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    overflow-y: scroll;
}

main {
    max-width: 60ch;
}

.main-wrap {
    padding: 0 2rem;
}

h1 {
    font-family: var(--heading-font);
}

h2 {
    font-family: var(--heading-font);
    font-size: 1.85rem;
}

h3 {
    display: inline-block;

    margin-bottom: 0.7rem;

    font-family: var(--heading-font);
    font-size: 1.25rem;
    font-weight: bold;

    border-bottom: 0.3rem solid #525252;
}

p {
    line-height: 1.5;
}

a {
    cursor: pointer;
    color: var(--link-color);
    text-decoration: none;

}

a:hover,
a:active {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
}



/* TRANSITIONS */
.hello-transition-enter {
    opacity: 0;
    backdrop-filter: blur(6px);
    transform: translateY(0.5rem);
}

.hello-transition-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
}

.content-transition-enter {
    opacity: 0;
    transform: translateY(0.5rem);
}

.content-transition-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms, transform 500ms;
}